@model Lena.Model.FormDTO

@{
    ViewBag.Title = Model.Name;
}
    <div>
        <h2>@Model.Name</h2>
        <h4>
            @Model.Description
        </h4>
        <small>@Model.CreatedAt.ToLongDateString() - @Model.CreatedAt.ToShortTimeString()</small>
        <br />
        <dl class="dl-horizontal">
            @foreach (var item in Model.Fields)
            {
                <dt><label class="control-label">@item.Name</label></dt>
                if (item.DataType == Lena.Model.DataType.STRING.ToString())
                {
                    <dd><input class="form-control" type="text" name="@item.Id" /></dd>
                }
                else if (item.DataType == Lena.Model.DataType.NUMBER.ToString())
                {
                    <dd><input class="form-control" type="number" name="@item.Id" /></dd>
                }
                <br />
            }
        </dl>
        <input type="button" class="btn btn-success" value="Kaydet" />
    </div>